* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

h2 {
  font-size: 1.25rem;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
  margin: 1rem 0;
}

#navbar {
  display: flex;
  margin-bottom: 2rem;
}

#navbar nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

header nav a {
  text-decoration: none;
  color: black;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes :nth-child(1) {
  background-color: teal;
}

.middle-content .boxes :nth-child(2) {
  background-color: gold;
}

.middle-content .boxes :nth-child(3) {
  background-color: cadetblue;
}

.middle-content .boxes :nth-child(4) {
  background-color: coral;
}

.middle-content .boxes :nth-child(5) {
  background-color: crimson;
}

.middle-content .boxes :nth-child(6) {
  background-color: forestgreen;
}

.middle-content .boxes :nth-child(7) {
  background-color: darkorchid;
}

.middle-content .boxes :nth-child(8) {
  background-color: hotpink;
}

.middle-content .boxes :nth-child(9) {
  background-color: indigo;
}

.middle-content .boxes :nth-child(10) {
  background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

#section-about {
  border-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  padding: 1em;
  margin-bottom: 1em;
}

#quad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quad-section {
  display: flex;
  flex-direction: column;
  width: 48%;
  border: 1px dashed transparent;
  border-bottom-color: black;
  padding: 1rem;
  margin-top: 1rem;
}

.quad-section > * {
  margin: .5rem 0;
}

#work-together {
  padding: 1rem;
  margin: 1rem 0;
}

.learn-more {
  padding: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  text-decoration: none;
  color: black;
  width: 40%;
  text-align: center;
}
